@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

main {
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
}

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

legend.search{
    margin-left: 420px;
}

h2.HelloWorld {
    background-color: rgb(255, 185, 197); color: rgb(165, 55, 55);
    margin-top: 25px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family:Arial, Helvetica, sans-serif; font-weight:800; font-size: larger;
}
    
h4 {
    font-family: Arial, Helvetica, sans-serif; font-weight:600; font: size medium;
}
    
p {
    font-family: Arial, Helvetica, sans-serif; font-size: small;
}

div.container {
    text-align: center;
}

ul.food {
    display: inline-block;
    text-align: left;

}
    
.Socials {
    text-align: center;
    padding-top: .5px;
    padding-bottom: 15px;
}

@media screen and (max-width:800px) {
    main {
        margin: 0;
    }
    .Socials {
        margin: 0;
    }

    div[role='banner'] img {
        width: 500px;
    }
}

div.fact{
    text-align: left;
    margin-left: 110px;
    margin-bottom: 50px;
}

div.sub{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
}

fieldset{
    margin-left: 90px;
    margin-right: 90px;
}

button.Sub {
    margin-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: hidden;
    background-color: blueviolet;
    color: bisque;
}

button {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 2px;
    border-style: hidden;
    background-color: blueviolet;
    color: bisque;
}

button.Sub:hover {
    background-color: bisque;
    color: blueviolet;
    border-style: solid;
    border-width: 1px;
    border-color: blueviolet;
}

button:hover {
    background-color: bisque;
    color: blueviolet;
    border-style:solid;
    border-width: 1px;
    border-color: blueviolet;
}

footer {
    background-color: #74A8DA;
}

body {
    text-align: center;
}